@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=MedievalSharp');
body{ /* Different background */
  background-image: url("https://newcomb.github.io/WebsiteFix/images/beautyWood.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;

}

h1{ /* Move to center */
  text-align: center;
  color: white;
  font-size: 50px;
}

p{
  text-transform: full-width;
  color: white;
  border-width: medium;
  border-color: brown;
}

div.header{
  background-image: url("https://newcomb.github.io/WebsiteFix/images/plankHead.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Satisfy';
}

div.header > div.partners > div.person_info{
  margin-top: 7.5%;
  margin-left: 0.5%;
}

span.username{
  font-size: 30px;
}

div.nav /* Maybe different background? */
{
  font-size: 40px;
  margin-left: 80%;
  vertical-align: baseline;
}
 /* Make the current and future task glow? */
div.person_info{
  float:left;
  width: 200px;
  height: 200px;
}

div.header > div.partners > div.person_info{
  margin-top: 15
}

div.day-box.PREP, div.day-box.CURRENT, div.day-box.COMPLETED{
  text-align: center;
     background-image: url("https://newcomb.github.io/WebsiteFix/images/parchment.jpg");
     font-size: 40px;
     margin-left: 25%;
     width: 50%;
     height: 800px;
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     overflow-y: scroll;
     margin-top: 50px;
       font-family: 'MedievalSharp';
   }
.day-box.Prep{
  text-align: middle;

}
.nav a{
  display: block;
  vertical-align: top;
  color: black;
}

.username {
  font-size: 20px;
}


div.day-box.PREP{

}

div.day-box.CURRENT{

}

div.day-box.COMPLETED{

}
/* The Divs due tomorrow are completely opaque and stand out.
   The Divs that have been completed are translucent and use
   brown and blue dark colors to seem irrelevant.
   The Preps in class  are grassy green and have sandy
   texture with them. Sort of nature-like.
*/

div.assignment_prompt
{
  border-style: groove;
  border-width: thick;
  text-align: center;
  font-size: 45px;
  margin-top: 50px;
  border-width: 15px;
  color: white;
  width: 75%;
  margin-left: 12.5%;
  border-radius: 25px;
  border-color: green;
  background-color: #1ca05e;
}

.notes{


}

.prep-box{


}

.reading-box{

}

.lab-box{


}
.account_form{
  text-align: center;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  width: 940px;
  margin-left: 12.5%;
  background-image: url("https://newcomb.github.io/WebsiteFix/images/accountScroll.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 250px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 300px;

}

.account_form input{
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
  background: transparent;
  border-top: black;


}


.person_image{
  width: 100px;
  height: 100px;
}


tbody{
  text-align: center;

}
td, tr{
 font-size: 30px;
 background-color: blueviolet;
 border: 5px solid black;
}


.assignment-label{
  margin-top: 50px;
}
.day{
  margin-top: 20px;
  margin-left: 70%;
  width: unset;
}

svg{
  background-image: url("https://newcomb.github.io/WebsiteFix/images/vintage.png");
  background-repeat: no-repeat;
  background-size: 110%;
  padding-top: 100px;
  padding-right: 100px;
  padding-left: 100px;
  overflow: visible;
  margin-left: 20%;
  background-position: absolute;
  background-position:center;
}
