@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=MedievalSharp');
body{ /* Different background */
  background-image: url("https://newcomb.github.io/WebsiteFix/images/beautyWood.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;

}

body > h3, div.assignment_title{
  color: white;
  font-size: 40px;
  font-family: Satisfy;
  margin-top: 20px;
  text-align: center;
}

body > h2, body > a{
  color: white;
  font-size: 40px;
  font-family: Satisfy;
  margin-left: 36%;
  margin-top: 20px;
  text-align: center;
}

h1{ /* Move to center */
  text-align: center;
  color: white;
  font-size: 50px;
  font-family: MedievalSharp;
}

body > div.person_info{
  position: absolute;
  margin-left: 45%;
  margin-top: 10%;
  font-size: 23px;
  color: #f7f7f7;
  font-family: Satisfy;
}

body > div.person_info a{
  margin-left: 24%;
  font-size: 24px;
  color: #5dacd3;
  vertical-align: baseline;
}

body > div.person_info span{
  font-size: 23px;
}

div.partners{
  float:left;
  margin-right: 100%;
  font-size: 23px;
  color: #f7f7f7;
}

div.partners span{
  font-size: 23px;
}

div.partners img{
  width: 75px;
  height: 75px;
}

div.header{
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Satisfy';
  position: absolute;
}

div.header > div.partners > div.person_info{
  margin-top: 7.5%;
  margin-left: 0.5%;
}

span.username{
  font-size: 30px;
}

div.nav /* Maybe different background? */
{
  font-size: 40px;
  margin-left: 88%;
  vertical-align: baseline;
  position: fixed;
  color: #ededed;
}
 /* Make the current and future task glow? */
div.person_info{
  float:left;
  width: 200px;
  height: 200px;
}

.partners a{
  margin-left: 24%;
  font-size: 24px;
  color: #5dacd3;
  vertical-align: baseline;
}

label{
  font-family: Satisfy;
}

div.header > div.partners > div.person_info{
  margin-top: 0px
  position: absolute;
}

div.day-box.PREP, div.day-box.CURRENT, div.day-box.COMPLETED{
  text-align: center;
     background-image: url("https://newcomb.github.io/WebsiteFix/images/parchment.jpg");
     font-size: 40px;
     margin-left: 25%;
     width: 50%;
     height: 800px;
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     overflow-y: scroll;
     margin-top: 50px;
    font-family: 'MedievalSharp';
   }

div.prep-box div.assignment-title, div.lab-box div.assignment-title{
  color:unset;
  font-family:MedievalSharp;
}

.day-box.Prep{
  text-align: middle;

}
.nav a{
  display: block;
  vertical-align: top;
  color: white;
}

.username {
  font-size: 20px;
  font-family: Satisfy;
}


div.day-box.PREP{

}

div.day-box.CURRENT{

}

div.day-box.COMPLETED{


}
/* The Divs due tomorrow are completely opaque and stand out.
   The Divs that have been completed are translucent and use
   brown and blue dark colors to seem irrelevant.
   The Preps in class  are grassy green and have sandy
   texture with them. Sort of nature-like.
*/

div.assignment_prompt, div.prompt
{
  text-align: center;
  font-size: 45px;
  margin-top: 50px;
  color: black;
  width: 1000px;
  height: 400px;
  margin-left: 10.5%;
  background-image: url("https://newcomb.github.io/WebsiteFix/images/WoodParch.png");
  background-repeat: no-repeat;
  padding: 50px;
  background-size: cover;
  overflow-y: scroll;
}

.view_text, body > form.assignment_form > p:last-of-type{
  background-color: #edaa63;
  padding: 50px;
  text-align: center;
  font-family: MedievalSharp;
  font-size: 25px;
}

.account_form{
  text-align: center;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  width: 900px;
  margin-left: 10%;
  background-image: url("https://newcomb.github.io/WebsiteFix/images/accountScroll.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 250px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 300px;

}

.account_form input{
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
  background: transparent;
  border-top: solid 5px black;


}


.person_image{
  width: 100px;
  height: 100px;
}


tbody{
  text-align: center;
}

body > table{
  margin-left: 15%;
}

table{
  background-image: url("https://newcomb.github.io/WebsiteFix/images/Leather.jpg");
}

.login{
  position: absolute;
  color: blue;
  margin-top: 200px;
  float:left;
  margin-right: 100%;
  font-size: 23px;
  color: #f7f7f7;
}

form > div > input{
  position: absolute;
  margin-top: 520px;
}

td:nth-child(1n+0):last-of-type {
  width: 20%;
}

td, tr{
 font-size: 30px;
 border-bottom: 5px solid black;
 font-family: MedievalSharp;
 padding-top: 20px;
 padding-bottom: 20px;
 width: 20%;
 color: white;
}


.assignment-label{
  margin-top: 50px;
}
.day{
  margin-top: 20px;
  margin-left: 70%;
  width: unset;
}

.grade-table{
  margin-left: unset;
}

svg{
  background-image: url("https://newcomb.github.io/WebsiteFix/images/vintage.png");
  background-repeat: no-repeat;
  background-size: 110%;
  padding-top: 100px;
  padding-right: 100px;
  padding-left: 100px;
  overflow: visible;
  margin-left: 20%;
  background-position: absolute;
  background-position:center;
}
